<html>
    {% load static %}
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

<body>

    <div class="container">
        <div class="logo">
          
            <ul class="topnav">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#admin">Admin</a></li>
                <li><a href="#check">Student</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="about"><a href="{% url 'about' %}">About</a></li>
            </ul>
    </div>
</body>
</html>