<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <h1>test</h1>
    <body>
        <div class="container">
            <div class="logo">
              <img src="{%static 'images/logo.jpg'%}" alt="" width="50px" height="50px" />
              </div>
    <ul class="topnav">
      <li><a class="active" href="">Home</a></li>
      <li><a href="admin">Admin</a></li>
      <li><a href="check">Student</a></li>
      <li><a href="#contact">Contact</a></li>
      <li class="right"><a href="#about">About</a></li>
    </ul>
    
    <div style="padding:0 16px;">
      <h2>பாரதி அறிவுடைமை பொது நூலகம்</h2>
      
    </div>
        <h1>this is test for css</h1>
        
        <script src="" async defer></script>
    </body>
</html>